### Loops

#### for loop

In [3]:
range(5)

range(0, 5)

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [11]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [15]:
str="Krish Naik"
for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

#### While Loop

The while loop continues to execute as long as the condition is true.

In [19]:
count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [21]:
count=0
while count%2==0:
    print(count)
    count=count+1

0

### Loop Control Statement

#### Break

The break statement exists the loop prematurely

In [ ]:
for i in range(10):
    if i==5:
        break
    print(i)

#### Continue

The continue statement skips the current iteration and continues with the next.

In [28]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

#### pass

The pass statement is a null operation, it does nothing.

In [32]:
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

#### Nested Loops

A loop inside a loop

In [36]:
for i in range(5):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1
i:3 and j:0
i:3 and j:1
i:4 and j:0
i:4 and j:1

In [40]:
# Example-Calculate the sum of first N natural numbers using a while and for loop
# While loop
n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1
print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [46]:
n=10
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [50]:
# Example-Prime numbers between 1 and 100
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97