In [3]:
# Declaring and assigning variables

age=32
height=6.1
name="Shweta"
is_student=True

# Printing the variables
print("age:", age)
print("Height:", height)
print("Name:",name)

age: 32
Height: 6.1
Name: Shweta

#### Naming convention
- Variable names should be descriptive
- They must start with a letter or an '_' and contains letter, numbers, and underscores

In [7]:
# Valid Variable names
first_name="Shweta"
last_name="Raut"

In [ ]:
#Invalid Variable Names
2age=30
first-name="Krish"
@name="Krish"

In [9]:
# Understanding Variable Types
# Python is dynamically typed, type of variable is determined at runtime
age=25
height=6.1
name="Krish"
is_student=True

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [11]:
# Type checking and Conversation
type(height)

float

In [15]:
age=25
print(type(age))

# Type Conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [19]:
age='25'
print(type(int(age)))

<class 'int'>

In [21]:
height=5.11
type(height)

float

In [23]:
int(height)

5

In [27]:
float(int(height))

5.0

In [31]:
# Dynamic Typing
# Python allows the type of a variable to change as the program executes
var=10
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [33]:
# Input User
age=int(input("What is the age"))
print(age,type(age))

What is the age 25

25 <class 'int'>

#### Simple Calculator

In [36]:
num1 = float(input("Enter first Number:"))
num2 = float(input("Enter Second Number:"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum", sum)
print("Difference",difference)
print("Product", product)
print("Quotient", quotient)

Enter first Number: 7
Enter Second Number: 15

Sum 22.0
Difference -8.0
Product 105.0
Quotient 0.4666666666666667